.site-footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  margin-top: 30px;
}

.copyright-text {
  font-size: 0.8em;
  margin: 0;
}

.large {
  font-size: x-large;
}

